<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/core.css" th:href="@{/css/main.css}"
	rel="stylesheet" media="screen" />
	
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link
	href="../static/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css"
	th:href="@{/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
	
<script type="text/javascript" src="../static/js/jquery-ui.min.js"
th:src="@{/js/jquery-ui.min.js}"></script>

<script
	src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>

<script src="../static/js/canvasjs.min.js"
	th:src="@{/js/canvasjs.min.js}"></script>
	
<script src="../static/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"
th:src="@{/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>

	
<script src="../static/js/jquery.dateformat.js"
	th:src="@{/js/jquery.dateformat.js}"></script>
	
	
<script src="../static/js/main.js"
	th:src="@{/js/main.js}"></script>
	


 
	
